@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", serif;
    background: #f3f0f0 !important;
}

body.dark {
    background: #112143 !important;
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: #0858f7 !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

.btn-blue {
    background: #204cf9 !important;
    font-size: 14px;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    color: #fff !important;
    border-radius: 5px !important;
}

.btn-red {
    background: #f92020 !important;
    font-size: 14px;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    color: #fff !important;
    border-radius: 5px !important;
}

.btn-lg {
    padding: 5px 55px !important;
}

.btn-big {
    padding: 10px 25px !important;
    font-size: 16px !important;
}

.btn-round {
    border-radius: 30px !important;
}

.full {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
}

.link {
    color: #5e5d72;
    font-weight: 600;
}

.link:hover {
    color: #125be8;
    text-decoration: none;
}

.link.color {
    color: #125be8;
    text-decoration: none;
    font-size: 15px !important;

}

header {
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    -webkit-backdrop-filter: blur(5px);
}

body.dark header {
    background: #112143;
}

header .logo {
    margin-top: 10px;
    width: 250px;
    height: 70px;
    border-radius: 10px !important;
}

body.dark header .logo {
    opacity: 0.5 !important;
}

header button.rounded-circle {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    background: #f0f5ff !important;
    color: #0858f7;

}

body.dark header button.rounded-circle {
    background: #0c214a !important;
}

body.dark header button.rounded-circle svg {
    color: #fff;
}

header button.rounded-circle svg {
    color: #292929;
    font-size: 18px !important;
    transition: all 0.2s ease-in-out;
}

header button.rounded-circle:hover svg {
    color: #0858f7 !important;
}

header .part2 {
    padding-left: 50px !important;
}

.searchBox {
    width: 500px !important;
    height: 40px;
    background: #f0f5ff !important;
    border-radius: 6px !important;
    padding: 3px 15px;
}

body.dark .searchBox {
    background: #112143 !important;
    border: 1px solid #fff;
}

.searchBox input {
    background: transparent;
    border: 0px;
    outline: none;
    padding-left: 0px;
    width: 100%;
    font-size: 14px;
    color: #292929;
}

.searchBox input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

body.dark .searchBox input,
body.dark .searchBox input::-webkit-input-placeholder,
body.dark .searchBox svg {
    color: rgba(255, 255, 255, 0.7) !important;

}

.searchBox svg {
    font-size: 18px;
    color: #444444 !important;
}

.myAcc {
    text-align: left !important;
    color: #0858f7 !important;
    /* text-transform: capitalize; */
}

.userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 2px solid #0858f7;
    padding: 2px;
    border-radius: 100%;
    background: #9df478 !important;

}

.userImg .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;

}

.userImg .rounded-circle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.userImg.lg {
    width: 60px !important;
    height: 60px !important;
}

.myAcc .userInfo {
    padding-left: 10px;
}

.myAcc .userInfo h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #000000;

}

.myAcc .userInfo p {
    margin-top: 0px;
    font-size: 12px;
    color: #000000;
    opacity: 0.7;
    text-transform: lowercase;
}

body.dark .myAcc .userInfo * {
    color: rgb(255, 255, 255, 0.8) !important;
}

body.dark .MuiPaper-elevation {
    background: #112143;
}

body.dark .MuiPaper-elevation li *,
body.dark .MuiPaper-elevation li {
    color: rgb(255, 255, 255, 0.8) !important;
}

#account-menu li {
    font-size: 14px !important;
    padding: 5px 15px;
}

#account-menu li svg {
    font-size: 20px !important;
}

#notifications .MuiPaper-elevation {
    right: 240px !important;
    width: 300px;
    left: auto !important;
    top: 70px !important;
}

.dropdown_list .head {
    padding: 10px 0px;
}

.dropdown_list .head h4 {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
}

body.dark .dropdown_list .head h4 {
    color: rgb(255, 255, 255, 0.9) !important;
}

body.dark .dropdown_list li.MuiButtonBase-root {
    background-color: #12254e !important;
    background: #12254e !important;
}


.dropdown_list li.MuiButtonBase-root {
    background: #ebf6ff !important;
    color: #000 !important;
    padding: 10px 15px !important;
}

.dropdown_list li.MuiButtonBase-root:hover {
    background: #dde2e7 !important;
}

.dropdownInfo {
    padding-left: 15px;
}

.dropdownInfo h4 {
    font-size: 13px;
    font-weight: 500;
    white-space: break-spaces;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdownInfo h4 b {
    font-weight: 600;
    margin-right: 5px;
}

.dropdownInfo p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 0px !important;
}

.text-sky {
    color: #0858f7 !important;
}

.dropdown_list .scroll {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll li {
    margin-top: 3px;
}

.main .sidebarWrapper {
    width: 20%;
    flex: 0 0 20%;
    transition: all 0.3s;
}

.main .sidebarWrapper.toggle {
    width: 0%;
    flex: 0 0 0%;
}

.main .sidebarWrapper .sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0px;
    background: #fff;
    max-height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    transition: all 0.3s;
}

body.dark .main .sidebarWrapper .sidebar {
    background: #112143 !important;
}

.main .sidebarWrapper.toggle .sidebar {
    left: -100%;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar {
    width: 3px !important;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
    background: transparent !important;
}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar {
    background: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul {
    margin-bottom: 0px;
    padding: 10px 15px !important;
}

.main .sidebarWrapper .sidebar ul li {
    list-style: none;
}

.main .sidebarWrapper .sidebar ul li button {
    color: rgba(0, 0, 0, 0.6) !important;
    text-align: left;
    justify-content: left;
    border-radius: 10px !important;
    padding: 12px 10px !important;
    align-items: center;
    text-transform: capitalize !important;
    font-style: 600;
    font-size: 15px !important;
}

body.dark .main .sidebarWrapper .sidebar ul li button {
    color: rgb(255, 255, 255, 0.8) !important;
}

.main .sidebarWrapper .sidebar ul li button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px !important;

}

.main .sidebarWrapper .sidebar ul li button:hover {
    background: #ebf6ff !important;
}

body.dark .main .sidebarWrapper .sidebar ul li button:hover {
    background: rgb(255, 255, 255, 0.1) !important;
}

.main .sidebarWrapper .sidebar ul li button.active {
    background: #ebf6ff !important;
}

body.dark .main .sidebarWrapper .sidebar ul li button.active {
    background: rgb(255, 255, 255, 0.1) !important;
}

.main .sidebarWrapper .sidebar ul li button.active .arrow {
    transform: rotate(90deg);
}


.main .sidebarWrapper .sidebar ul li button .icon svg {
    font-size: 32px;
}

body.dark .main .sidebarWrapper .sidebar ul li button * {
    color: rgb(255, 255, 255, 0.8) !important;
}

.main .sidebarWrapper .sidebar ul li button * {
    color: rgba(0, 0, 0, 0.6) !important;
}

.main .sidebarWrapper .sidebar ul li button .arrow {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar ul .submenu {
    padding: 0px 45px !important;
    position: relative;
    transition: all 0.3s;
    height: 0px;
}

.main .sidebarWrapper .sidebar ul .submenu::before {
    content: '';
    width: 1px;
    height: 95%;
    position: absolute;
    top: 0px;
    left: 25px;
    background: rgb(0, 0, 0, 0.2);
}

body.dark .main .sidebarWrapper .sidebar ul .submenu::before {
    background: rgba(227, 255, 255, 0.8) !important;

}

.main .sidebarWrapper .sidebar ul .submenu li {
    width: 100%;
    list-style: none;
}

.main .sidebarWrapper .sidebar ul .submenu li a {
    color: rgba(0, 0, 0, 0.6) !important;
    text-decoration: none;
    display: block;
    padding: 6px 2px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    margin-top: 5px;
}

body.dark .main .sidebarWrapper .sidebar ul .submenu li a {
    color: rgb(255, 255, 255, 0.6) !important;
}

.main .sidebarWrapper .sidebar ul .submenu li a:hover {
    color: #0858f7 !important;
    background: #ebf6ff !important;
    border-radius: 10px !important;
}

body.dark .main .sidebarWrapper .sidebar ul .submenu li a:hover {
    background: rgb(255, 255, 255, 0.1) !important;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper {
    transition: all 0.4s;
    height: 0px;
    overflow: hidden;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed {
    height: 0px;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed .submenu {
    opacity: 0;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse {
    height: auto;
    overflow: inherit;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu {
    opacity: 1;
    height: auto;

}

.logoutWrapper {
    padding: 0px 10px;
}

.logoutWrapper .logoutBox {
    width: 100%;
    height: 130px;
    padding: 25px;
    background: #bcd2fd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body.dark .logoutWrapper .logoutBox {
    background-image: linear-gradient(#183e8c, #163474) !important;
    background: transparent;
}

/* -------------------- Logout Orange Circle --------------- */
.logoutWrapper .logoutBox::before {
    content: '';
    width: 80px;
    height: 80px;
    background: #f7af08;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0.5;
}

/* -------------------- Logout Orange Circle --------------- */
.logoutWrapper .logoutBox::after {
    content: '';
    width: 80px;
    height: 80px;
    background: #f78308;
    border-radius: 100%;
    position: absolute;
    bottom: -20px;
    left: -20px;
    opacity: 0.5;
}

.logoutWrapper .logoutBox button {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.logoutWrapper .logoutBox button svg {
    margin-right: 5px;
    font-size: 15px !important;
}

.right-content {
    padding: 90px 30px !important;
    padding-bottom: 10px !important;
}

.main .content {
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s;
}

.main .content.toggle {
    width: 100%;
    flex: 0 0 100%;
}

.dashboardBoxWrapper {
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.dashboardBoxWrapper .dashboardBox {
    width: 48%;
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left !important;
    position: relative !important;
    color: #fff;
    text-transform: capitalize !important;
    font-weight: 800 !important;

}

.dashboardBoxWrapper .dashboardBox .col1 h4 {
    font-size: 16px !important;
    font-weight: 500;
}

.dashboardBoxWrapper .dashboardBox .col1 span {
    font-size: 35px !important;
    font-weight: bold;
    line-height: 45px !important;
}

.dashboardBoxWrapper .dashboardBox .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.dashboardBoxWrapper .dashboardBox svg {
    font-size: 28px !important;
    opacity: 0.4;
    color: #e6e4e4;
}

.dashboardBoxWrapper .dashboardBox .toggleIcon {
    font-size: 22px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    cursor: pointer;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.dashboardBoxWrapper .dashboardBox .toggleIcon svg {
    color: rgb(0, 0, 0) !important;
}

.dashboardBoxWrapper .dashboardBox .chart {
    opacity: 0.080;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 0px;
}

.dashboardBoxWrapper .dashboardBox .chart svg {
    font-size: 130px !important;
    color: #000;
}

.dashboardBoxWrapper .dashboardBox .bottomEle {
    position: relative;
    top: 15px !important;
}

.dashboardBoxWrapperRow .box {
    width: 100%;
    height: 100%;
}

.dashboardBoxWrapper .dashboardBox .MuiButtonBase-root svg {
    color: #000;
    font-size: 17px !important;
    margin-right: 10px !important;

}

.dropdown_menu .MuiButtonBase-root svg {
    margin-right: 10px !important;
}

.graphBox {
    background-image: linear-gradient(#1a50b5, #125be8);
    border-radius: 10px;
    border-radius: 25px !important;

}

.toggleIcon {
    font-size: 22px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    cursor: pointer;
    min-width: 40px !important;
    width: 40px !important;
    margin-top: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.toggleIcon svg {
    color: #fff !important;
    font-size: 23px !important;
    opacity: 1 !important;
}

.graphBox h4 {
    font-size: 16px !important;
    font-weight: 600;
    margin-left: 25px !important;
    margin-top: 40px !important;

}

.graphBox p {
    font-size: 13px;
    opacity: 0.7 !important;
}

.graphBox .charts svg {
    font-size: 130px;

}

body.dark .css-1uwp4ue-MuiBreadcrumbs-ol {
    color: rgb(255, 255, 255, 0.8) !important;
}

.card {
    margin: 20px 0px;
    border-radius: 10px;

}

.card .hd {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #939292;
}

body.dark .card {
    background: #102b65 !important;
}

body.dark .card .hd {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.8) !important;
}

body.dark .cardFilters .col-md-3 h4 {
    color: rgb(255, 255, 255, 0.8);
}

.cardFilters .col-md-3 h4 {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #403e57;
}

p {
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}

body.dark .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark span,
body.dark .css-lohd6h-MuiSvgIcon-root-MuiSelect-icon {
    color: rgb(255, 255, 255, 0.8) !important;
}

body.dark .css-1ll44ll-MuiOutlinedInput-notchedOutline {
    border: 1px solid rgb(255, 255, 255, 0.8);
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #0858f7;
}

.table .thead-dark th {
    background-color: #6495f7 !important;
    border-color: rgb(255, 255, 255, 0.1) !important;
    font-size: 14px !important;
}


.table tbody td {
    font-size: 14px !important;
    color: #403e57;
    font-weight: 500;
}

.table tbody .actions button {
    min-width: 28px !important;
    width: 28px !important;
    height: 28px !important;
    margin: 0px 3px !important;
}

.table tbody .actions button.secondary {
    background: rgba(203, 60, 231, 0.2) !important;
}

.table tbody .actions button.success {
    background: #ccf0bd;
}

.table tbody .actions button.error {
    background: rgb(240, 176, 176) !important;
}

.table tbody .actions button svg {
    font-size: 20px !important;
}

table.v-align td {
    vertical-align: middle !important;
}

.table td .old,
.table td .new {
    display: block;
    width: 100%;
}

table td .info {
    width: 65%;
    flex: 0 0 65%;
}

table td .imgWrapper {
    width: 20%;
    flex: 0 0 20%;
}

table td .info h6 {
    line-height: 18px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}


.table td .old,
.table td .new {
    display: block;
    width: 100%;
}

table td .info p {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #818091;
    margin-bottom: 0px;
}


table.v-align td .productBox {
    width: 270px;
}

.tableFooter {
    padding-bottom: 20px !important;
}

.tableFooter .pagination {
    margin-left: auto;
}

.tableFooter p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}

body.dark table td {
    color: rgb(255, 255, 255, 0.8);
}

body.dark .css-8uzxat-MuiSvgIcon-root-MuiPaginationItem-icon {
    color: rgb(255, 255, 255, 0.8);
}

body.dark .css-1bug3cd-MuiButtonBase-root-MuiPaginationItem-root {
    color: rgb(255, 255, 255, 0.8);
}

body.dark .css-1bug3cd-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    color: yellow;
}

body.dark .loginSection {
    background: #071739 !important;
}

.loginSection {
    width: 100%;
    height: 100vh;
    padding: 35px 25px;
    background: #fff;
    position: relative;
}

.loginSection .loginBox {
    width: 400px;
    height: auto;
    margin: auto;
}

.loginSection .loginBox .wrapper .form-group {
    margin-bottom: 18px;
}

.loginSection .loginBox .wrapper {
    width: 100%;
    height: auto;
    background: #f0f0f0;
    position: relative;
    z-index: 100;
    padding: 35px;
}

.loginSection .loginBox .wrapper .form-control {
    background: #fff !important;
    box-shadow: none !important;
    outline: none;
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 600;
    height: 45px !important;
    padding-left: 40px !important;
}

.loginSection .loginBox .wrapper .form-group.focus .icon svg {
    color: #0858f7 !important;
}

.loginSection .loginBox .wrapper .form-control:focus {
    border: 1px solid blue;
}

.loginSection .loginBox .wrapper .form-group .icon {
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 100;
    font-size: 20px;
}

.loginSection .loginBox .wrapper .form-group .icon svg {
    color: #939292;
}

.toggleShowPassword {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}

body.dark .toggleShowPassword svg {
    color: #fff;
}

.toggleShowPassword svg {
    font-size: 21px;
    color: #5e5d72;
}

.loginSection .loginBox .wrapper .link {
    font-size: 14px;
}

.loginSection .loginBox .wrapper .or span.line {
    display: block;
    width: 35%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
}

.loginSection .loginBox .wrapper .or span.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.loginWithGoogle {
    text-transform: capitalize;
    font-weight: bold;
}

.loginWithGoogle .icon2 svg {
    font-size: 25px;
}

.signUpSection {
    background: #fff !important;
    padding: 15px 0px;
    height: auto !important;
    width: auto !important;
}

.css-1bug3cd-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
    background-color: #233a95 !important;
}

.sliderSmall .slick-current .item {
    border: 2px dashed black;
}

.slick-slider {
    outline: none !important;
}

.sliderSmall .slick-slide {
    padding-right: 6px !important;
}

.sliderSmall .slick-slide .item {
    border-radius: 7px;
    overflow: hidden;
}

.sliderBig .slick-slide .item img {
    border-radius: 17px !important;
}

body.dark .sliderSmall .slick-next:before,
.sliderSmall .slick-prev:before {
    color: #071739 !important;
}

.sliderSmall .slick-next:before,
.sliderSmall .slick-prev:before {
    color: #000 !important;
    font-size: 10px;
}

.sliderSmall *,
.sliderBig * {
    transition: all 0.2s !important;
}

.sliderBig .item {
    overflow: hidden;
    border-radius: 16px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

body.dark .sliderBig .item {
    border: 2px dashed rgb(255, 255, 255, 0.8);
}

.sliderSmall .item {
    overflow: hidden;
    border-radius: 16px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

body.dark .sliderSmall .item {
    border: 2px dashed rgb(255, 255, 255, 0.8);
}

.productDetailsSection .productInfo .icon {
    width: 28%;
    flex: 0 0 28%;
}

.productDetailsSection .productInfo .icon svg {
    font-size: 22px;
}

.productDetailsSection .productInfo .name {
    width: 72%;
    flex: 0 0 72%;
    font-weight: 600;
    font-size: 15px;

}

.productDetailsSection .productInfo .row {
    margin-bottom: 19px !important;
}

.productDetailsSection .productInfo .row .col-sm-9 {
    display: flex;
    align-items: center;
}

.productDetailsSection .productInfo .row .col-sm-9 span {
    font-size: 18px;
}

.tags {
    margin-bottom: 0px !important;
}

.tags li span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px !important;
    padding: 5px 5px !important;
}

.tags li span:first-child {
    padding-left: 0px !important;
}

.ratingSection {
    width: 500px;
}

.ratingSection .ratingrow {
    width: 100%;
}

.ratingSection .ratingrow .progress {
    height: 5px !important;
    background: #000 !important;
    margin-bottom: 5px !important;
}

body.dark .ratingSection .ratingrow .progress {
    background: #fff !important;
}

.ratingSection .ratingrow .progress .progress-bar {
    background: #edb213 !important;
}

.ratingSection .ratingrow .col1 {
    width: 13%;
    flex: 0 0 13%;
    display: flex;
}

.ratingSection .ratingrow .col2 {
    width: 50%;
    flex: 0 0 50%;
}

.ratingSection .ratingrow .col3 {
    width: 25%;
    flex: 0 0 25%;
    display: flex;
    padding-left: 15px !important;

}

.reviewsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reviewsSection .reviewsRow p {
    padding-left: 20px;
}

.reviewsSection .reviewsRow {
    width: 100%;
    height: auto;
    background: #f3f0f0 !important;
    border-radius: 10px !important;
    padding: 35px;
    margin: 15px 0px;

}

body.dark .right-content .reviewsSection .reviewsRow {
    background: #071739 !important;
}

.userInfo h6 {
    margin-bottom: 4px !important;
}

body.dark .userInfo .ratings svg {
    color: #edb213 !important;

}

.reviewsSection .reviewsRow.reply {
    width: 90%;
    margin-left: auto;
}

.btn-big svg {
    font-size: 20px;
}

.reviewsSection .reviewsRow .btn-big {
    font-size: 15px !important;
}

.reviewsSection .reviewsRow .btn-big svg {
    font-size: 18px !important;
}

.reviewForm {
    width: 100%;
}

.reviewForm form {
    border-radius: 10px;
}

.reviewForm textarea {
    width: 100%;
    height: 200px;
    background: #f3f0f0 !important;
    outline: navajowhite !important;
    padding: 15px;
    border-radius: 10px !important;
    border: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}

.reviewForm textarea::-webkit-input-placeholder {
    color: #000 !important;
    font-size: px;
}

body.dark .reviewForm textarea {
    background: #071739 !important;
    color: rgb(255, 255, 255, 0.8) !important;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}

body.dark .reviewForm textarea::-webkit-input-placeholder {
    color: rgb(255, 255, 255, 0.8) !important;
}

.form .form-group {
    margin-bottom: 25px;
}

.form .form-group h6 {
    margin-bottom: 10px;
    font-size: 13px;
}

.form .form-group input {
    background: #f3f0f0 !important;
    width: 100%;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

body.dark .form .form-group input {
    background: #071739 !important;
    color: rgb(255, 255, 255, 0.8) !important;


}

.form .form-group input::-webkit-input-placeholder {
    /* padding: 10px !important; */
    color: rgb(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 15px;
}

body.dark .form .form-group input::-webkit-input-placeholder {
    color: rgb(255, 255, 255, 0.8) !important;
}

.form .form-group input,
.form .form-group textarea {
    background: #fafafa;
    width: 100%;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;
    height: 60px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 14px;
}


.form .form-group textarea {
    background: #f3f0f0 !important;
    width: 100%;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.form .form-group textarea {
    height: 120px;
    margin-top: 15px;
}

body.dark .form .form-group textarea {
    background: #071739 !important;
    color: rgb(255, 255, 255, 0.8) !important;


}

.form .form-group textarea::-webkit-input-placeholder {
    /* padding: 10px !important; */
    color: rgb(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 15px;
}

body.dark .form .form-group textarea::-webkit-input-placeholder {
    color: rgb(255, 255, 255, 0.8) !important;
}

body.dark .form .form-group .ratingSection svg {
    color: #edb213 !important;

}


.imgUploadBox {
    width: 100%;
    flex-wrap: nowrap;
    gap: 10px;
}

.imgUploadBox .uploadBox {
    width: 150px;
    height: 150px !important;
    padding: 0px;
    border-radius: 10px;
    border: 1px dashed rgba(0, 0, 0, 1);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background: #fafafa;
    transition: all 0.3s;
}

.imgUploadBox .uploadBox .box {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 15px !important;
    padding: 2px;
}

.imgUploadBox .uploadBox .box .lazy-load-image-background {
    height: 100% !important;
    width: 100% !important;
}

.imagesUploadSec .uploadBox .remove svg {
    font-size: 10px;
    color: #fff;
}

.imgUploadBox .uploadBox img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.dot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;

}

.flexCol {
    display: flex !important;
}

.editModel .css-10d30g3-MuiPaper-root-MuiDialog-paper {
    width: 600px !important;
}

.stickyBox{
    position: sticky;
    top: 90px;
}
.stickyBox h4{
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 1;
}
.imgGrid {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    position: sticky;
    top: 80px;
}

.imgGrid .img {
    width: 47%;
    overflow: hidden;
    height: 100%;
    border-radius: 7px;

}

.imgGrid .img img {
    width: 100%;
    height: 100%;
}

.inputBtn button{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}


.imagesUploadBox {
    width: 100%;
    max-width: 100%;
    flex-wrap: nowrap;
    gap: 5px;
    overflow-y: hidden;
    overflow-x: auto; /* Enables horizontal scrolling */
    display: flex; /* Ensures items stay in a row */
    white-space: nowrap; /* Prevents wrapping */
    padding-bottom: 5px; /* Optional: Adds some space for scrollbar */
}

.imagesUploadBox .uploadBox {
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px dashed rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-self: center;
    cursor: pointer !important;
    flex-shrink: 0; /* Prevents shrinking inside flex container */
}

.imagesUploadBox .uploadBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.imagesUploadBox .uploadBox .info {
    align-items: center !important;
    justify-self: center !important;
    flex-direction: column;
    margin-top: 20px;
    pointer-events: none;
}

.imagesUploadBox .uploadBox h5 {
    font-size: 15px !important;
    align-items: center !important;
    justify-self: center !important;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.2);
}

.imagesUploadBox .uploadBox .info svg {
    font-size: 50px;
    opacity: 0.3;
}
